body {
    margin: 0;
    padding: 0;

    background-color: #ebe4db;
    background-image: url("/public/theme/backgrond.png");

    overflow: hidden;
}

html {
    font-family: 'Roboto', sans-serif;
}
