@font-face {
    font-family: OpenSansRegular;
    src: url("/public/theme/Fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansBold;
    src: url("/public/theme/Fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url("/public/theme/Fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;

    background-color: #ebe4db;
    background-image: url("/public/theme/backgrond.png");

    overflow: hidden;
}

html {
    font-family: OpenSansRegular, sans-serif;
}
